@import "tailwindcss";

@theme {
  --font-PretendardRegular: "PretendardRegular", sans-serif;
  --font-PretendardMedium: "PretendardMedium", sans-serif;
  --font-IBMPlexSansKRSemiBold: "IBMPlexSansKRSemiBold", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

@font-face {
  font-family: "PretendardMedium";
  src: url("../../public/Pretendard-Medium.otf");
}

@font-face {
  font-family: "PretendardRegular";
  src: url("../../public/Pretendard-Regular.otf");
}

@font-face {
  font-family: "IBMPlexSansKRSemiBold";
  src: url("../../public/IBMPlexSansKR-SemiBold.otf");
}
